# Python build artifacts
__pycache__/
*.py[cod]
*.pyo

# Distribution / Build folders
/dist/
/build/
/*.spec

# Windows executables
*.exe
*.dll
*.msi

# NirCmd binaries (if you don't want to track them)
nircmd.exe
nircmdc.exe
NirCmd.chm

# VS Code settings (optional)
.vscode/

# Logs or temp files
*.log
*.tmp
